# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.so
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
/media

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# If you are using PostgreSQL:
*.psql
*.pgsql
*.pgsqlgz

# If you are using MySQL:
*.sql
*.sql.gz

# If you are using SQLite:
*.sqlite3

# ENV files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python environment
venv/
ENV/
env/
*.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# Node.js dependencies
node_modules/

# React build files
build/
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


poetry.lock